.search-card .el-card__body {
    padding: 10px 20px;
}

.show-card .el-card__body {
    padding: 1px 20px;
}

.show-dialog .el-dialog__body {
    padding: 1px 20px;
}

.edit-dialog .el-dialog__body {
    padding: 1px 20px;
}

.edit-card .el-card__body {
    padding: 1px 20px;
}

.search-card .el-form-item {
  margin-bottom: 10px;
  margin-top: 10px;
}

.search-card .el-form-item--small.el-form-item {
  margin-bottom: 8px;
  margin-top: 8px;
}

.search-card .el-form-item--mini.el-form-item {
  margin-bottom: 6px;
  margin-top: 6px;
}

.show-card .el-form-item {
  margin-bottom: 10px;
  margin-top: 10px;
}

.show-card .el-form-item--small.el-form-item {
  margin-bottom: 8px;
  margin-top: 8px;
}

.show-card .el-form-item--mini.el-form-item {
  margin-bottom: 6px;
  margin-top: 6px;
}
